<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Othello Game</title>
    <style>
        table {
            border-collapse: collapse;
            margin: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            text-align: center;
            font-size: 24px;
        }

        /* ⚫️と⚪️のサイズを大きくするスタイル */
        .black-stone, .white-stone {
            font-size: 36px; /* 適切なサイズに調整してください */
        }
    </style>
    <script>
        function adjustCellSize() {
            var cellSize = Math.min(window.innerWidth, window.innerHeight) / 13; // 画面サイズに基づいてセルサイズを調整
            var cells = document.querySelectorAll('th, td, .black-stone, .white-stone');
            cells.forEach(function(cell) {
                cell.style.width = cellSize + 'px';
                cell.style.height = cellSize + 'px';
            });
        }

        window.addEventListener('resize', adjustCellSize); // ウィンドウサイズが変更されたときに呼び出す
        document.addEventListener('DOMContentLoaded', adjustCellSize); // ページが読み込まれたときに初回呼び出し
    </script>
</head>
<body>
    <h1>Othello Game</h1>
    <p>1 :{{ num_1 }} 　 2 :{{ num_2 }}</p>

    
    <table>
        <tr>
            <th></th> <!-- Empty cell for the corner -->
            {% for col_num in range(8) %}
                <th>{{ col_num }}</th>
            {% endfor %}
        </tr>
        {% for row in board %}
        <tr>
            <th>{{ loop.index0 }}</th>
            {% for cell in row %}
                <td>
                    {% if cell == 1 %}
                        <span class="black-stone">⚫️</span>
                    {% elif cell == 2 %}
                        <span class="white-stone">⚪️</span>
                    {% else %}
                        
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <p>Current Player: {{ current_player }}</p>
    
    {% if warning %}
        <p>{{ warning }}</p>
    {% endif %}

    <form action="{{ move_action }}" method="post">
        <label>Row: </label>
        <input type="number" name="row" min="0" max="7"><br>
        <label>Column: </label>
        <input type="number" name="col" min="0" max="7"><br>
        <input type="submit" value="put">
    </form>
    <form action="/" method="get" style="margin-top: 20px;">
        <input type="submit" value="ホームに戻る">
    </form>
</body>
</html>
